.theater-logo {
  @apply w-10 h-10 mb-2;
}

@media screen and (min-width: 1670px) {
  .theater-logo {
    @apply w-12 h-12 mb-2;
  }
}
@media screen and (max-width: 1669.98px) {
  .theater-logo {
    @apply w-10 h-10 mb-2;
  }
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs .ant-tabs-content,
:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  height: 100%;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-left
  > .ant-tabs-content-holder {
  @apply border-gray-400;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  @apply px-0 py-0;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-more {
  background: #ae1f22;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-tabs .ant-tabs-ink-bar {
  background: #ae1f22;
}
