.slick-next:before,
.slick-prev:before {
  content: "";
}
.slick-next,
.slick-prev {
  height: 100%;
  width: 5%;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow-x: hidden;
}
