@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Open Sans", sans-serif;
}

body {
  @apply box-border text-gray-300 bg-black;
}

.slick-next:before,
.slick-prev:before {
  content: "";
}
.slick-next,
.slick-prev {
  height: calc(100% - 3rem);
  width: 5%;
}

.slick-next {
  opacity: 50%;
  right: 0vw;
}
.slick-prev {
  opacity: 50%;
  left: 0vw;
}

@media screen and (min-width: 1280px) {
  .slick-next {
    right: 1vw;
  }
  .slick-prev {
    left: 1vw;
  }
}

@media screen and (min-width: 666px) and (max-width: 1279.98px) {
  .slick-next figure {
    width: 2.5rem;
    height: 2.5rem;
  }
  .slick-prev figure {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 665.98px) {
  .slick-next figure {
    width: 2rem;
    height: 2rem;
  }
  .slick-prev figure {
    width: 2rem;
    height: 2rem;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow-x: hidden;
}
