@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Open Sans", sans-serif;
}

body {
  @apply box-border text-gray-300 bg-black;
}

.slick-next:before,
.slick-prev:before {
  content: "";
}
.slick-next,
.slick-prev {
  height: calc(100% - 3rem);
  width: 5%;
}

.slick-next {
  right: 1vw;
}
.slick-prev {
  left: 1vw;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow-x: hidden;
}
